.lable{
    /* font-size: 10px; */
    font-weight: bold;
} 
.row-stlye{
    margin-bottom: 2%;
    margin-top: 3%;
}
.row1-stlye{
   background: cornflowerblue;
   padding-top: 35px;
   padding-bottom: 35px;
   margin-top: 0px !important;
}

.row1-stlye{
    margin-bottom: 2%;
    margin-top: 3%;
    margin-right: -13%;
    margin-left: -11%;

}

input[type='radio'] { 
    width:30px;
    height:20px;
 }

 input[type='checkbox'] { 
    width:30px;
    height:20px;
 }

.country{
    width: 50%;
}